/*////////Bottom UI*/


/*Main bottom DIV*/
.bottom{
  display:none;
  clear: both;
  position:fixed;
  bottom:0;
  width: 100%;
  height: 5%;
  background-color: rgb(20,20,20);
  text-align: center;
  font-size: 2vw;
  color: rgb(200, 200, 200);
  align-items:baseline;
}

/*Save button*/
.save{
  float:right;
  width: 15%;
  height:100%;
  background-color: rgb(20,20,20);
   transition: all .7s ease;
}

/*Toolbox button*/
.toolBox{
  float:left;
  width: 15%;
  height:100%;
  background-color: rgb(20,20,20);
  transition: all .7s ease;
  /*border-top: 1px solid rgb(250,250,250);*/
}
#toolBox:active, #save:active{
  background-color: #B4DA55;
  transition: all .1s ease;
}

/*Brush slider*/
.brushSize{
  width: 40%;
  transition: all .7s ease;
  height:100%;
}
.brushCircle{
  display:none;
  text-align: center;
  vertical-align: middle;
  transform: rotate(45deg);
}
#brushSize:hover + #brushCircle{
  display: block;
  position:absolute;
  top:-550%;
  left:49%;
}



/*Brush -- ++ buttons*/
.smallB,.bigB{
  position: absolute;
  transition: all .7s ease;
    height:100%;
}
.smallB{
  width:10%;
  left: 15%;
}
.bigB{
  width:10%;
  left:75%;
}
.smallB:active,.bigB:active{
  background-color: rgb(200,200,200);
  transition: all .1s ease;
}

/*Misc hover animation*/
.toolBox:hover,.smallB:hover,.bigB:hover,.brushSize:hover,.save:hover{
  background-color: rgb(200, 200, 200);
  transition: all .7s ease;
}

/*Sets location of the emojis*/
.save p,.smallB p,.bigB p,.toolBox p{
  position: relative;
  top:-5px;
  text-align: center;
  font-family: Calibri, Verdana, sans-serif;
}
