*{
  padding:0;
  margin:0;
  border:0;
}

html{
  background-color: rgb(20, 20, 20);
  overflow:hidden;
  user-select: none;
  text-align: center;
  color:rgb(250,250,250);
  font-family: Calibri, Verdana, sans-serif;
}


a:hover{
 color:rgb(170, 90, 95);  
}
